/* ---------- CSS RESET ---------- */
/* box-sizing rules */
*, ::after, ::before  {
  box-sizing: border-box;
}

/* remove defaults margins */
body, h1, h2, p {
  margin: 0;
}

/* body defaults */
body {
  min-height: 100vh;
  line-height: 1.3;
}

/* headings line-height */
h1, h2 {
  line-height: .8;
}

/* text-wrap */
h1, h2, p {
  text-wrap: balance;
}

/* responsive img */
/* img, picture {
  width: 100%;
  display: block;
} */

/* ---------- CSS VARIABLE ---------- */
:root {
  /* ----- color system ----- */
  /* primary */
  --clr-veryDarkMagenta: hsl(300, 43%, 22%); 
  --clr-softPink: hsla(333, 80%, 67%);
  /* neutral */
  --clr-darkGrayishMagenta: hsl(303, 10%, 53%);
  --clr-lightGrayishMagenta: hsl(300, 24%, 96%);
  --clr-white: hsl(0, 0%, 100%);
  
  /* ----- typography ----- */
  --ff-body: 'League Spartan', sans-serif;
  --fs-body: .9735rem;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  
}

/* ---------- CHALLENGE STYLING ---------- */
body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-500);
  letter-spacing: .00625rem;
}

/* ----- patterns background ----- */
.bg-pattern-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-pattern-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* ----- component styling -----*/
.wrapper {
  width: 85%;
  max-width: 25rem;
  margin: 4rem auto;
}

/* introduction section */
.content {
  text-align: center;
}

.content__heading {
  color: var(--clr-veryDarkMagenta);
  max-width: 12ch;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.content__text {
  color: var(--clr-darkGrayishMagenta);
  max-width: 44ch;
}

/* rated stars section */
.rates {
  margin-block: 2.5rem;
}
.rate-wrapper {
  background: var(--clr-lightGrayishMagenta);
  text-align: center;
  padding: .8em;
  border-radius: 8px;
}

.rate__stars {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.rate__heading {
  color: var(--clr-veryDarkMagenta);
  font-weight: var(--fw-700);
  margin-top: .65rem;
}

.rate-wrapper + .rate-wrapper {
  margin-top: 0.75rem;
}

/* reviews section */
/* .reviews {} */

.buyer-card {
  background: var(--clr-veryDarkMagenta);
  color: var(--clr-white);
  padding: 2em;
  border-radius: 8px;
}

.buyer__img {
  width: 2.5rem;
  border-radius: 50%;
}

.buyer__name {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  margin-top: .5rem;
}

.buyer__heading {
  font-size: var(--fs-body);
}

.buyer__heading--verified {
  color: var(--clr-softPink);
  opacity: .67;
  font-weight: var(--fw-500);
  margin-top: 0.6rem;
}

.buyer__review {
  margin-top: 1.8rem;
}

.buyer-card + .buyer-card {
  margin-top: .75rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: var(--clr-softPink);
}

/* ----- media-query large screen -----*/
@media (min-width: 56.25em) {
  /* grid setup */
  .wrapper {
    max-width: 90rem;
    padding: 4em;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr) / repeat(3, 1fr);
    grid-template-areas: 
        "c  s  s"
        "r r r";
  }

  .content {
    grid-area: c;
    text-align: left;

  }

  .rates {
    grid-area: s;
  }

  .reviews {
    grid-area: r;
  }

  /* ------ component styling ----- */

  /* content section */
  .content__heading {
    font-size: 3rem;
    margin-inline: 0;
    margin-bottom: 2rem;
  }

  /* reviews section */
  .reviews {
    display: flex;
    gap: 2rem
    ;
  }
  .buyer-card + .buyer-card {
    margin-top: 0;
  }

  .buyer-card--one {
    margin-top: -5rem;
    /* grid-area: r1; */
  }

}